@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  @screen dr {
    :root {
      overflow-y: scroll;

      scrollbar-width: thin;
      scrollbar-color: gray transparent;
    }

    :root::-webkit-scrollbar {
      @apply w-2 h-2;
    }

    :root::-webkit-scrollbar-thumb {
      background-color: gray;
    }

    :root::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}

@layer components {
  .wrapper {
    @apply sticky z-20;
    @apply bg-white;
    @apply w-full;
    @apply border-gray-200;
  }
}
